@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body{
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.menuB{
    font-family: "Funnel Display", sans-serif;
    text-align: center;
    color: white;
    background: linear-gradient(to right, #cfa156, #ceb28b);
} 

.menuItems{
    display: flex;
    justify-content: center;
    flex-direction: column; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 80vh;  
    gap: 3vh;         /* Altura total da tela */
    margin: 0;  
}


button {
    font-family: "Funnel Display", sans-serif;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: white;

    justify-content: center;
     align-items: center; 

}

.botStats{
    background-color: #bf99b2;
}

.botQuiz{
    background-color: #d7736f;
}

.botBusca{
    background-color: #30353a;
}

button:hover {
    padding: 12px 22px;
}

input {
    padding: 10px;
    border-radius: 10px;
}

.titulo{
    width: 50vw;
    gap: 15px;
}

footer{
    margin-top: 10vh;
}

img{
    height: 100px;
    width: 100px;
    
}