@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

body{
    min-height: 90vh;
    overflow-y: auto;

    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    text-align: center;
    background: linear-gradient(to right, #30353a, #ffe100);


    display: flex;
    flex-direction: column; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
    height: 80vh;   
    gap: 2vh;       /* Altura total da tela */
    margin-top: 20px;  
}

button {
    font-family: "Funnel Display", sans-serif;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid white;
    cursor: pointer;

    justify-content: center;
    align-items: center; 
    color: #30353a;

}

.titulo{
    width: 50vw;
    gap: 15px;
}

img{
    height: 100px;
    width: 100px;
    
}

input {
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    border-color: #ffe100;
    color: #ffe100;
}

.card {
    background: white;
    margin: 8px auto;
    padding: 10px;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    color: #30353a;
}